@page "/"

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <h3>Portal de Requisição Pessoal </h3>
        </div>
    </div>
</div>

@code {

}
